@mixin button {
  background-color: $light_green;
  color: $green;
  padding: 20px 36px;
  font-family: $main_font;
  font-weight: $light_fontweight;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  box-shadow: 0 3px 6px #c7c6c6;
  border-radius: 0;
}

@mixin button_click {
  box-shadow: none;
  border: 1px solid;
  border-color: grey whitesmoke whitesmoke grey;
}
