.contact_form {
  width: 40vw;
  margin: 0 auto;
  margin-left: 7%;
  display: flex;
  flex-flow: column;
  align-self: center;

  form {
    display: flex;
    flex-flow: column;
    width: 100%;

    label {
      font-family: $main_font;
      font-weight: $light_fontweight;
      margin-bottom: 5px;
    }

    input {
      margin-bottom: 15px;
      padding: 1%;
      width: 70%;
      font-size: 16px;
    }

    textarea {
      width: 70%;
      height: 150px;
      border-color: #d4d2d2;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .main_button {
      @include button;
    }

    .main_button:hover {
      background-color: #80c554;
    }

    .main_button:active {
      @include button_click;
    }
  }
}
