.contact,
.services {
  .header {
    nav {
      ul {
        .selected {
          a {
            color: $light_green;
          }
        }
      }
    }
  }

  .contact_intro {
    .contact_map {
      .dempsey_map {
        width: 65vw;
        height: 70vh;
        object-fit: cover;
        object-position: -100px;
      }
    }
  }
}
