.contact_header_image {
  background-image: url('images/manoa_backside_small.jpg');
  background-size: 100%;
  width: 100%;
  height: 50vh;
  background-position: left top;
}

.contact {
  .contact_intro {
    display: flex;
    justify-content: space-between;

    .contact_form {
      &_title {
        .subhead {
          color: $green;
        }
      }

      &_address {
        margin: 5% 0 10%;

        p:last-child {
          margin-top: 20px;
        }
      }
    }

    .contact_map {
      &_image {
        img {
          width: 60vw;
          height: 75vh;
          object-fit: cover;
        }
      }
    }
  }
}
