@media screen and (max-width: 1024px) {
  .services_header_image,
  .contact_header_image {
    height: 30vh;
  }

  //home
  .intro {
    height: 35vh;

    &_head {
      display: block;

      .headline {
        margin-bottom: 3%;
      }
    }
  }

  .intro_content {
    &_row {
      display: block;

      .headline {
        margin-bottom: 10%;
      }

      .subhead {
        margin-bottom: 10px;
      }

      .paragraph {
        margin-right: 0;
      }

      p:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .intro_content.content_two {
    .intro_content_row {
      .headline {
        margin-bottom: 10%;
      }
    }
  }

  //contact
  .contact {
    .contact_intro {
      display: block;

      .contact_form {
        margin: 0;
        width: auto;
        padding: 7%;

        form {
          input {
            width: auto;
            border: 1px solid rgba(204, 203, 203, 1);
            padding: 4%;
          }

          textarea {
            width: auto;
          }
        }
      }

      .contact_map {
        &_image {
          img {
            width: 100vw;
            height: 35vh;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }

  //nav
  .header {
    padding: 0;
    margin: 5%;
    display: flex;
    flex-flow: column;
    width: auto;

    .header_logo {
      position: absolute;
      left: calc(50% - 10.5%);
      top: 1.5%;
      z-index: 1;

      a {
        img {
          width: 80px;
        }
      }
    }

    .main_nav {
      display: none;
    }

    .mobile_nav {
      border: none;
      margin: 0;
      position: relative;
      height: auto;
      display: flex;
      flex-flow: column;

      &_hamburger {
        span {
          display: block;
          height: 5px;
          width: 44px;
          background: $green;
          margin-bottom: 4px;
        }

        span:nth-child(2) {
          width: 37px;
        }
      }

      ul {
        left: -100%;
        height: 0;

        li {
          align-self: flex-start;
          padding-left: 0;
        }
      }
    }

    .mobile_nav.open {
      .header_logo {
        display: block;

        @include prefix((
          transition: all 0.5s linear 0s,
        ), webkit mx moz);
      }

      ul {
        display: block;
        margin-top: 30px;
        height: auto;
        left: 0;

        @include prefix((
          transition: all 0.5s linear 0s,
        ), webkit mx moz);
      }
    }
  }

  //services
  .services_content {
    &_wrapper {
      display: block;
      margin: 7% 6%;

      &_border {
        &_grids {
          min-height: 200px;
          margin-bottom: 15%;

          &_content {
            p {
              font-size: 15px;
            }
          }
        }

        &_grids:hover,
        &_grids:active {
          @keyframes service_hover_title {
            0% {
              bottom: 0;
              height: 50px;
            }

            100% {
              height: 170px;
            }
          }

          .services_content_wrapper_border_grids_content {
            min-height: 200px;
            width: calc(100% - 7%);
            padding-top: 15px;

            .hover_background {
              span:nth-child(3) {
                right: 8%;
              }
            }

            p {
              font-size: 15px;
              padding-right: 7%;
            }
          }
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 7% 3%;

    &_content {
      img {
        width: 70px;
      }

      p {
        font-size: 13px;
        line-height: 1.1;
      }

      .credentials {
        line-height: 1.4;
      }
    }
  }
}
