@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
  }

  //nav
  .header {
    padding: 0;
    margin: 5%;
    display: flex;
    flex-flow: column;
    width: auto;

    .header_logo {
      position: absolute;
      left: calc(50% - 10.5%);
      top: 1.5%;
      z-index: 1;

      a {
        img {
          width: 80px;
        }
      }
    }

    .main_nav {
      display: none;
    }

    .mobile_nav {
      border: none;
      margin: 0;
      position: relative;
      height: auto;
      display: flex;
      flex-flow: column;

      &_hamburger {
        span {
          display: block;
          height: 5px;
          width: 44px;
          background: $green;
          margin-bottom: 4px;
        }

        span:nth-child(2) {
          width: 37px;
        }
      }

      ul {
        left: -100%;
        height: 0;

        li {
          align-self: flex-start;
          padding-left: 0;
        }
      }
    }

    .mobile_nav.open {
      .header_logo {
        display: block;

        @include prefix((
          transition: all 0.5s linear 0s,
        ), webkit mx moz);
      }

      ul {
        display: block;
        margin-top: 30px;
        height: auto;
        left: 0;

        @include prefix((
          transition: all 0.5s linear 0s,
        ), webkit mx moz);
      }
    }
  }
  //home
  .intro {
    height: 35vh;

    &_head {
      display: block;

      .headline {
        margin-bottom: 3%;
      }
    }
  }

  .intro_content {
    &_row {
      display: block;

      .headline {
        margin-bottom: 10%;
      }

      .subhead {
        margin-bottom: 10px;
      }

      .paragraph {
        margin-right: 0;
      }

      p:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }

  .intro_content.content_two {
    .intro_content_row {
      .headline {
        margin-bottom: 10%;
      }
    }
  }
  //services
  .services_header_image {
    height: 30vh;
  }

  .services_content {
    &_wrapper {
      display: block;

      &_border {
        &_grids {
          min-height: 200px;
          margin-bottom: 15%;

          &_content {
            p {
              font-size: 15px;
            }
          }
        }

        &_grids:hover {
          @keyframes service_hover_title {
            0% {
              bottom: 0;
              height: 50px;
            }

            100% {
              height: 170px;
            }
          }

          .services_content_wrapper_border_grids_content {
            min-height: 200px;
            justify-content: flex-end;
            width: calc(100% - 5%);

            p:last-child {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }

  .footer {
    width: calc(100% - 8%);
    padding: 7% 3%;

    &_content {
      img {
        width: 70px;
      }
    }
  }
}
