.header {
  padding: 1% 0 0 3%;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;

  &_logo {
    img {
      width: 150px;
    }
  }

  nav {
    width: 100%;
    height: 72px;
    margin-left: 2%;
    border-bottom: 4px solid grey;

    ul {
      width: 100%;
      height: 72px;
      display: inline-flex;
      justify-content: flex-end;

      li {
        list-style: none;
        // margin-right: 1%;
        align-self: flex-end;
        padding: 0 2% 10px;

        a {
          text-decoration: none;
          color: $green;
          font-family: $header_font;
          font-size: $link_fontsize;
        }
      }

      li:nth-child(2) {
        margin-right: 5%;
      }

      li:hover {
        background-color: white;

        a {
          border-bottom: 4px solid $light_green;
          color: $light_green;
        }
      }
    }
  }
}
