.services_header_image {
  background-image: url('images/AdobeStock_270324096_Preview.jpeg');
  background-size: cover;
  background-position: center;
  height: 50vh;
}

.services_content {
  .headline {
    margin: 5% 0 0 7%;
    width: 40vw;
    border-bottom: 1px solid $green;
    position: relative;
  }

  .headline::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 0;
    background-color: $green;
    height: 6px;
    width: 6px;
    border-radius: 5px;
  }

  &_wrapper {
    @include base_grid;

    grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    grid-gap: 70px;
    grid-row-gap: 100px;
    margin: 7%;

    &_border {
      // border: 3px solid;
      // border-color: $light_green white;
      // padding: 10px 0;

      &_grids {
        background-size: cover;
        background-position: center;
        position: relative;
        min-height: 300px;
        overflow: hidden;

        .service_title {
          background-color: white;
          padding: 3% 3% 3% 0;
          width: 80%;
          position: absolute;
          bottom: 0;
          font-size: calc(18px + 0.3vw);
          letter-spacing: 1px;
          line-height: 1.1;
          z-index: 1;
          padding-left: 5px;

          // span {
          //   background-color: $green;
          //   width: 100px;
          //   height: 2px;
          //   position: absolute;
          //   top: 50%;
          //   margin-left: 2%;
          // }
          //
          // span::after {
          //   content: '';
          //   position: absolute;
          //   top: -2.5px;
          //   right: 0;
          //   background-color: $green;
          //   height: 5px;
          //   width: 5px;
          //   border-radius: 5px;
          // }
        }

        &_content {
          display: none;
        }
      }

      .design {
        background-image: url('images/dempsey_testbg.png');
      }

      .permitting {
        background-image: url('images/Dempsey_Permitting_small.png');
      }

      .master_plan {
        background-image: url('images/Dempsey_MasterPlanning_small.jpg');
      }

      .construction {
        background-image: url('images/Dempsey_Construction_small.jpg');
      }

      .commercial {
        background-image: url('images/Dempsey_Commercial_small.jpg');
      }

      .industrial {
        background-image: url('images/Dempsey_IndustrialMunicipal_small.jpg');
      }

      .residential {
        background-image: url('images/Dempsey_Residential_small.jpg');
      }

      .agricultural {
        background-image: url('images/Dempsey_Agricultural_small.jpg');
      }

      .utilities {
        background-image: url('images/Dempsey_');
      }

      .floodplain {
        background-image: url('images/Dempsey_FloodplainManagement_small.jpg');
      }

      .erosion {
        background-image: url('images/Dempsey_');
      }

      .stormwater {
        background-image: url('images/Dempsey_StormWaterQuality_small.jpg');
      }

      &_grids:hover {
        .service_title {
          @include prefix((
            animation: service_hover_title 1s,
            animation-fill-mode: forwards,
          ), webkit ms moz);

          background-color: transparent;
          color: white;

          @keyframes service_hover_title {
            0% {
              bottom: 0;
              height: 50px;
            }

            100% {
              height: calc(300px - (50px + 6%));
            }
          }
        }

        .services_content_wrapper_border_grids_content {
          @include service_grid_hover;
          @include prefix((
            animation: service_hover 1s,
            animation-fill-mode: forwards,
          ), webkit ms moz);

          @keyframes service_hover {
            0% {
              height: 0;
              top: calc(100% - 50px);
              opacity: 0;
            }

            100% {
              height: 100%;
              top: 0;
              opacity: 100%;
            }
          }

          .hover_background {
            span {
              width: 1px;
              min-height: 300px;
              position: absolute;
              background-color: rgba(255, 255, 255, 0.21);
              top: 0;
            }

            span:nth-child(2) {
              left: 50%;
            }

            span:nth-child(3) {
              right: 14%;
            }
          }

          p {
            color: white;
            font-size: 16px;
          }
        }
      }
    }
  }
}
